.date-session {
    justify-content: center;
}
.date-session-map{
    text-align: -webkit-center
}
.m0{
    margin: 0px;
}
.container{
    margin-left: 150px;
    padding-top: 50px;
}
.pt-top40{
    padding-top: 40;
}