.forgot-password-container{
    margin: 5% 37%
}
.forgot-password-header{
    height: 2px; background-color: #b3b3b3; width: 100%; margin-bottom: 15px
}
.forgot-password-button{
    width: 100%; display: flex; margin-top: 20px
}
.forgot-password-button-left{
    width: 70%; text-align: -webkit-right; padding-right: 15px
}
.forgot-password-button-left-style{
    width: 50%;
                    height: 100%;
                    border-radius: 20px;
                    background-color: #e4e6eb;
                    text-align: center;
                    padding: 4px;
}
.forgot-password-button-left-style-nav-link{
    text-decoration: none; color: black 
}
.forgot-password-button-right{
    display: flex;
    justify-content: center;
}
