.bodyRender{
    margin: 0 40px 0 40px;
}
.contentRender{
    margin: 0 105px;
}
.content{
    width: 100%;
}
.fontContent{
    font-size: 43px;
    color: #464646;
}
.check-active{
    color: orangered;
    border-bottom: 2px solid orangered;
}
.check-{
    color: black;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}
.buttonSearch{
    background-color: orangered !important;
    border-radius: 20px !important;
    width: 100% !important;
}